@import 'driver-style-variable';

@import 'cab-detail';
@import 'doc-verification';
@import 'driver-cab-registration';
@import 'driver-dashboard';
@import 'driver-order-section';
@import 'driver-payment';
@import 'driver-component';

.driver_home_driver-home {
    > h2 {
        font-size: 1.8rem;
        color: $primary-color;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }
}
